<div class="container-md text-center margen_tarjeta">
  <div class="row align-items-center">
    <div class="col-md-4 text-center mx-auto">
      <div class="card mx-auto" style="width: 18rem;">
        <img src="assets/imagenes/Hueso.jpg" class="card-img-top" alt="Hueso de juguete para perro">
        <div class="card-body">
          <h5 class="card-title">Hueso de juguete para perro en color negro</h5>
          <p class="card-text">Diseñado para sesiones de masticación: nuestros juguetes para perros están hechos para deleitar incluso a los masticadores más duros, ampliando el tiempo de juego y manteniéndolos comprometidos</p>
          <a href="https://www.amazon.com/KONG-Extreme-Goodie-Durable-Chewers/dp/B0002AQPAM/ref=sr_1_5?adgrpid=155887235004&dib=eyJ2IjoiMSJ9.oGeUCoObWE328rAc3wYIlvBZ9VMz3rx377RisyzRMDZMwLD009ekNdc-_Kbnvd6BrvTpuhAPqvGF9BFxi4AVzljaWAIWak3b1IfxAQE4QQ5mHWByIwTzPds6gDPK0Ri1lWuyLubT8aJTMbWtJcYITuzhcRfdKAI-0N8rHXrp5IXOso16PAwomaQdYzCBgrcDMZMHlz-5MeYsWsVSK8Jz2rTNorTu8qHo6_cxbbYLA9WsOcz6rsXf_1mZNmeP4kwpKRhjZDYyKmqsjWWbv1tR7O5gk4mrkwSo58sxyvTettY.sNwiu-o_icwP7Aq9lXdy7CORzcisSAot07Dp97EC_ok&dib_tag=se&hvadid=690390479015&hvdev=c&hvlocphy=9077251&hvnetw=g&hvqmt=e&hvrand=2147083052717109053&hvtargid=kwd-118629684&hydadcr=4196_13393812&keywords=kong%2Btoys&mcid=69121698f2be38a69c73928b4e242b62&qid=1746673944&sr=8-5&th=1&language=es_US" class="btn btn-primary">Ver juguete</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center mx-auto">
      <div class="card mx-auto" style="width: 18rem;">
        <img src="assets/imagenes/Llanta.jpg" class="card-img-top" alt="Hueso de juguete para perro">
        <div class="card-body">
          <h5 class="card-title">Juguete para perros en forma de neumático</h5>
          <p class="card-text">Juguete versátil para golosinas para perros: este juguete para perros en forma de neumático cuenta con una pared interior que se puede rellenar con bocadillos o golosinas para un juego atractivo.</p>
          <a href="https://www.amazon.com/-/es/Juguete-perros-forma-neumático-Negro/dp/B007B6VU3W/ref=sr_1_4?crid=3NEOWPQAPSRRU&dib=eyJ2IjoiMSJ9.VEp74woCjXp-TBCsuaZ2jeZykKgLIdBvLXcjHJnEFKiP_cUfwhR6NTR6SjN9a51SaKjHhhjmmyQ7XuJnyV5rB8KxJBA0dNmEdfrPw4sk8NuHsb5a8U3NAuFFEM99AwmLYjzhpJKibOw_lk7wmF6qiI054geWESMNO1puQ9kL3CSobrT7Yyle4V6pbnu_HxaG8JuSybwL482WCOghLUTC1z8px1VlOjtiMnkb1WBJL4jaznBrTE6a1bqSjSGDAeUnKkTtTNBKBsYIjP-iEe2IgZorUbSgj0NxgdA73hiY500.2Ml-sS4o7z6oLtbJRkBRqHQ9P0LKg-bISF-BX__FX88&dib_tag=se&keywords=kong%2Bdog%2Btoys&qid=1746680583&sprefix=kong%2B%2Caps%2C215&sr=8-4&th=1" class="btn btn-primary">Ver juguete</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center mx-auto">
      <div class="card mx-auto" style="width: 18rem;">
        <img src="assets/imagenes/Pelotas_tenis.jpg" class="card-img-top" alt="Hueso de juguete para perro">
        <div class="card-body">
          <h5 class="card-title">Kong Air Squeaker pelotas de tenis</h5>
          <p class="card-text">Nuestras duraderas pelotas de tenis de aire rechinante, de alta calidad no desgastan los dientes del perro.
          Todas las unidades rechinantes están empotradas en hule y cubiertas con tela de pelota de tenis por seguridad.
          Este juguete de alta flotación es ideal para todos los perros que aman alcanzar cosas.</p>
          <a href="https://www.amazon.com/-/es/Kong-Air-Squeaker-pelotas-tenis/dp/B00XS0I6BY/ref=sr_1_10_mod_primary_new?crid=3NEOWPQAPSRRU&dib=eyJ2IjoiMSJ9.VEp74woCjXp-TBCsuaZ2jeZykKgLIdBvLXcjHJnEFKiP_cUfwhR6NTR6SjN9a51SaKjHhhjmmyQ7XuJnyV5rB8KxJBA0dNmEdfrPw4sk8NuHsb5a8U3NAuFFEM99AwmLYjzhpJKibOw_lk7wmF6qiI054geWESMNO1puQ9kL3CSobrT7Yyle4V6pbnu_HxaG8JuSybwL482WCOghLUTC1z8px1VlOjtiMnkb1WBJL4jaznBrTE6a1bqSjSGDAeUnKkTtTNBKBsYIjP-iEe2IgZorUbSgj0NxgdA73hiY500.2Ml-sS4o7z6oLtbJRkBRqHQ9P0LKg-bISF-BX__FX88&dib_tag=se&keywords=kong+dog+toys&qid=1746680583&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=kong+%2Caps%2C215&sr=8-10&language=es_US" class="btn btn-primary">Ver juguete</a>
        </div>
      </div>
    </div>
  </div>
</div>



