<div class="container-md text-center">

  <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Diversión que mueve la cola 🐶
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            En Peluditos Felices encontrarás juguetes que hacen más que entretener: fortalecen el vínculo con tu mejor amigo. Desde pelotas mordedoras hasta felpas con aroma a tocino… aquí, cada juguete es pura felicidad perruna. 🎁 ¡Ven y descubre lo que hará saltar de alegría a tu peludo!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Más juguetes, menos travesuras 🐾
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            ¿Tu perrito muerde zapatos o almohadas? Tranquilo, solo necesita jugar más. En Peluditos Felices tenemos juguetes pensados para cada personalidad peluda: curiosos, enérgicos, mimados o mordelones. Haz que se divierta con propósito… ¡y salva tu sala en el proceso! 🛋️
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Regala momentos, no solo juguetes 🐕
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Cada juguete es una excusa para jugar juntos, correr, reír… y crear recuerdos con tu mejor amigo. En Peluditos Felices no vendemos cosas: entregamos momentos de pura ternura. ✨ Porque tu perro no es una mascota: es familia.
          </div>
        </div>
      </div>
    </div>
</div>