<!-- FormularioComponent HTML -->
  <div class="container-fluid margen">
    <h2 class="text-center">Formulario de contacto</h2>
    <p class="text-center">Por favor, completa el siguiente formulario para ponerte en contacto con nosotros.</p>
    <hr>
    <!-- Content here -->
    <div class="container-sm">
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre">
                </div>
            <div class="mb-3">
                <label for="name" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Apellido">
                </div>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="correo@ejemplo.com" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico con nadie.</div>
            </div>
            <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Acepto que me contacten por correo</label>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
  </div>